* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.8);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    border-bottom: 3px solid transparent;
}

#workspaces button.active {
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#network,
#pulseaudio {
    padding: 0 10px;
    color: #ffffff;
}
